.content-container {
    display: flex;
}

.sidebar {
    width: 250px; /* Adjust width as needed */
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    padding-left: 0px; /* Adjust padding as needed */
}
